body {
      box-sizing: border-box;
      font-family: sans-serif;
}

header {
      background-color: #6D5878;
}

header > * {
      display: inline-block;
      text-align: center;
}

header > h1 {
      width: 5%;
}

header > form {
      width: 70%;
}

header > nav {
      width: 20%;
}

div img {
      border-radius: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-top: 5%;
      position: relative;
      width: 100%;
}

nav a {
      color: #141215;
      font-family: sans-serif;
      font-weight: bold;
      margin: 5%;
}

input {
      border:none;
      cursor: pointer;
      height: 30px;
      margin: auto;
      width: 50%;
}

P {
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      text-decoration: underline;

}

p:hover {
      text-decoration: none;
      color: #790BA5;
}

a:active {
      color: #BB5189;
}

a:hover {
      background-color: #EFEFEF;
      border-radius: 15px;
      color: #4F4F4F;
      cursor: pointer;
      display: inline-block;
      height: 5%;
      line-height: 30px;
      min-width: 7%;
      padding: 0% 2%;
      text-decoration: none;
}

.col {
      float: left;
      margin: 1%;
      position: relative;
      width: 30%;
}

.titulo {
      font-weight: bold;
      margin-left: 10%;
}

.container {
      margin-bottom: -4%;
      margin-top: -2%;
      width: 100%;
}

.menu {
      background: #C39BD3;
      border-radius: 40px;
      display: inline-block;
      margin: 4%;
      margin-right: 2%;
      width: 10%;
}

#grow:hover {
       -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
}
