body {
      box-sizing: border-box;
      font-family: sans-serif;
}

header {
      background-color: #6D5878;
}

header > * {
      display: inline-block;
      text-align: center;
}

header > h1 {
      width: 5%;
}

header > form {
      width: 70%;
}

header > nav {
      width: 20%;
}

div img {
      border-radius: 5%;
      margin-bottom: 5%;
      margin-left: 5%;
      margin-top: 5%;
      width: 100%;
}

nav a {
      color: #141215;
      font-family: sans-serif;
      font-weight: bold;
      margin: 5%;
}

/*form label {
      font-weight: bold;
      text-decoration: underline;
      margin-right: 5%;
      cursor: pointer;
}*/

form input {
      width: 50%;
    /*  margin-right: 20%;*/
      height: 30px;
      cursor: pointer;
}

/*form select {
      margin-right: 40%;
      width: 15%;
}*/

a:active {
      color: #BB5189;
}

a:hover {
  /*    background: #DBC4D0;
      cursor: pointer;
      color: #9A2A64;*/
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      position: relative;
      height: 5%;
      padding: 0% 2%;
      min-width: 7%;
      background-color: #EFEFEF;
      border-radius: 15px;
      line-height: 30px;
      color: #4F4F4F;
}

.col {
      float: left;
      margin: 1%;
      width: 30%;
}

/*.fade {
      opacity: 0.5;
}

.fade:hover {
      opacity: 1;
}*/

.titulo {
      font-weight: bold;
      margin-left: 10%;
}

.container {
      margin-bottom: -4%;
      margin-top: -2%;
      width: 100%;
}

.menu {
      display: inline-block;
      background: #C39BD3;
      margin: 4%;
      margin-right: 2%;
      width: 10%;
      border-radius: 40px;
}

P {
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      text-decoration: underline;

}

p:hover {

       text-decoration: none;
       color: #790BA5;

}


#grow:hover {
       -webkit-transform: scale(1.1);
       -ms-transform: scale(1.1);
        transform: scale(1.1);
}
